<h1> <%= @job.title %> </h1>
<h3><%= @job.description %></h3>

<div class="job-status">
  <% if @job.pending %>
    <p>Someone has already claimed this job; it's currently pending.</p>
  <% else %>
    <% if current_user && @job.user_id == current_user.id %>
      <%= link_to "click here to edit your job", edit_job_path(@job) %>
    <% elsif  current_worker %>
      <div class="claim-job">
        <%= form_for @job, remote: true do |f| %>
          <%= f.text_field :worker_id, value: current_worker.id %>
          <%= f.check_box :pending %>
          <%= f.label :pending %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<script >
$(document).ready(function(){
  $('.claim-job input[type=checkbox]').click(function(){
    $(this).parent('form').submit();
    });
  });
</script>
