<h1><%= current_worker.email %>'s in process jobs:</h1>

<% Job.where(worker_id: current_worker, completed: false).each do |job| %>
  <div class="well">
    <h2><%= job.title %></h2>
    <p> <%= job.description %></p>
    <span>Customer: <%= job.user.email %></span><br>
    <span>Completed: <%= job.completed %></span>
  </div>
<% end %>

<% if Job.where(worker_id: current_worker, completed: true).any? %>
  <h2><%= current_worker.email %>'s completed jobs:</h2>
  <% Job.where(worker_id: current_worker, completed: true).each do |job| %>
    <div class="well">
      <h2><%= job.title %></h2>
      <p> <%= job.description %></p>
      <span>Customer: <%= job.user.email %></span><br>
      <span>Completed: <%= job.completed %></span>
    </div>
  <% end %>
<% end %>
