<div class="alert">
<p class="changes"></p>
</div>
<div class="row">
  <div class="col-sm-4">
    <h1><%= current_worker.email %>'s jobs (<%= @jobs.count %>)</h1>
    <% @jobs.each do |job| %>
      <div class="well">
        <h2><%= job.title %></h2>
        <p> <%= job.description %></p>
        <span>Customer: <%= job.user.email %></span><br>
        <div class="complete-job">
          <%= form_for job, remote: true do |f| %>
            <%= f.check_box :in_progress %>
            <%= f.label :in_progress %>

            <%= f.check_box :completed %>
            <%= f.label :completed %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script >
$(document).ready(function(){
  $('.complete-job input[type=checkbox]').click(function(){
    $(this).parent('form').submit();
    $('.changes').text("You updated your job");
  });
});
</script>
